* {
  padding: 0;
  margin: 0;
}
.container{
  padding: 1em 0;
}
.map-container {
  width: 90%;
  margin: 0 auto;
  height: 42rem;
  border: 10px solid black;
  box-sizing: border-box;
  border-radius: 0.7rem;
}



